<!-- search bar -->
<div class="container search-bar"> 
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{searchResult.keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{{#if searchResult.displayAlert}}
<div class="alert alert-danger mt-5 text-center" role="alert">
  {{searchResult.message}}
</div>
{{/if}}

<!-- restaurant list -->
<div class="container mt-5">
  <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 mx-auto">
      {{#each restaurants}}
        {{#with this}}
          <div class="col">
              <a href="/restaurants/{{id}}" class="text-secondary text-decoration-none">
                <div class="card mb-3">
                  <img class="card-img-top" src="{{image}}"
                    alt="{{name}}">
                  <div class="card-body p-3">
                    <h6 class="card-title mb-1 ">{{name}}</h6>
              
                    <div class="restaurant-category mb-1">
                      <i class="fas fa-utensils pr-2"></i> {{category}}
                    </div>

                    <span class="badge rounded-pill bg-danger font-weight-normal">
                      {{rating}}
                      <i class="fas fa-star fa-xs"></i>
                    </span>
                  </div>
                </div>
              </a>
          </div>
        {{/with}}
      {{/each}}
  </div>
</div>